@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */
:root {
  --background: #F9F5FF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1B2F;
    --foreground: #EDEDED;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
